<h4 class="my-4"><span>注文履歴詳細</span></h4>
<table>
  <tr>
    <th>購入者</th>
    <td><%= @order.customer.first_name %><%= @order.customer.last_name %></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
      <%= form_with model: @order,url: admin_order_path,  local:true do |f| %>
      <%#= f.select :status, [["入金待ち", "0" ], ["入金確認", "1"], ["発送準備中", "2" ], ["製作中", "3" ], ["発送済", "4" ]] %>
      <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, selected: @order.status %>
      <%= f.submit '更新', class: "btn btn-success" %>
      <% end %>
    </td>
  </tr>
</table>
<div class="row mt-4">
  <table border="1" width="800" height="auto">
      <tr>
  	   <th>商品名</th>
  		 <th>単価（税込）</th>
  		 <th>数量</th>
  		 <th>小計</th>
  		 <th>制作ステータス</th>
  		<tr>
  		<% @order.order_details.each do |order_details| %>
  	  <tr>
        <td><%= order_details.item.name %></td>
  	   	<td><%= order_details.item.with_tax_price %></td>
  		  <td><%= order_details.amount %></td>
  		  <td><%= order_details.amount * order_details.price%></td>
  		  <td><%= form_with model: order_details,url: admin_order_detail_path(order_details.id), local:true do |f| %>
            <%#= f.select :making_status, [["制作不可", "制作不可"], ["制作待ち", "制作待ち"], ["制作中", "制作中"], ["制作完了", "制作完了"]] %>
            <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]}, selected: order_details.making_status %>
            <%= f.submit '更新', class: "btn btn-success" %>
            <% end %>

  		  </td>
       </tr>
      <% end %>
   </table>
   <table class="offset-1">
    <tr>
      <th>商品合計</th>
      <td><%= @order.total_payment %></td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @postage %></td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td><%= @order.total_payment + @postage %></td>
    </tr>
   </table>
 </div>