<div class="container">
<h5 class="my-4 offset-1"><span>管理者ログイン</span></h5>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
   <div class="row">
    <%= f.label :email ,"メールアドレス",class: "col-2 offset-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %>
    </div>
  </div>

  <div class="field">
   <div class="row my-3">
    <%= f.label :password,"パスワード",class: "col-2 offset-2 " %>
    <%= f.password_field :password, autocomplete: "current-password", size: 40 %>
   </div>
  </div>


 <div class="my-3">
    <%= f.submit "ログイン",class: "btn btn-primary offset-4 my-2" %>
  </div>
<% end %>

